ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
img {
  border: none;
  display: block;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #31c27c;
}
.iconfont {
  color: #999;
}
.iconshanchu,
.icontubiao-,
.iconfenxiang,
.iconxiazai,
.iconbuoumaotubiao11 {
  display: block;
  font-size: 36px;
  width: 36px;
  height: 36px;
  padding-right: 10px;
}
.iconshanchu:hover,
.icontubiao-:hover,
.iconfenxiang:hover,
.iconxiazai:hover,
.iconbuoumaotubiao11:hover {
  color: #31c27c;
}
.playlist_toolbar {
  padding-top: 30px;
  height: 40px;
}
.mod_btn {
  outline: none;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 6px;
  padding: 0 23px;
  height: 38px;
  line-height: 38px;
  float: left;
  border: 1px solid #c9c9c9;
  letter-spacing: 1px;
  background-color: #fff;
  color: #000;
  display: block;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
.mod_btn:hover {
  background-color: #f0efef;
}
.mod_playlist_text {
  margin-bottom: 40px;
}
.mod_playlist_text .playlist__header {
  height: 50px;
  line-height: 50px;
  text-align: left;
  background-color: #fbfbfd;
  color: #999;
}
.style_switch__item {
  float: left;
  display: block;
  width: 50%;
  height: 100%;
}
.style_switch__item .iconfont {
  margin-top: 5px;
  font-size: 22px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}
.style_switch__item__select {
  background-color: #31c27c;
}
.playlist__header .playlist__header_name {
  margin-left: 20px;
  width: 58%;
}
.mod_playlist_text .playlist__header_number {
  width: 18%;
}
.playlist__header .playlist__header_name,
.mod_playlist_text .playlist__header_number {
  float: left;
  text-align: left;
}
.mod_playlist_text .playlist__header_other {
  width: 7.5%;
  float: right;
  text-align: center;
}
.mod_playlist_text .playlist__item {
  position: relative;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}
.mod_playlist_text .playlist__cover {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  margin-top: 10px;
}
.mod_playlist_text .playlist__cover a {
  display: block;
  height: 100%;
  position: relative;
}
.mod_playlist_text .playlist__pic {
  min-height: 50px;
  height: 100%;
}
.mod_playlist_text.mine .playlist__title {
  letter-spacing: 1px;
  font-weight: 333;
  float: left;
  text-align: left;
  width: 58%;
  padding-left: 40px;
}
.mod_playlist_text .mod_list_menu {
  display: flex;
  position: absolute;
  left: 42.666%;
  height: 36px;
}
.mod_playlist_text .playlist__number {
  text-align: left;
  width: 18.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mod_playlist_text .playlist__delete {
  position: absolute;
  text-align: center;
  top: 9.999999px;
  right: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #999;
  border-radius: 250%;
}
.mod_playlist_text .playlist__delete .iconfont {
  font-size: 18px;
  width: 30px;
  height: 30px;
}
.mod_playlist {
  overflow: hidden;
  margin-top: 30px;
}
.mod_playlist .playlist__item {
  float: left;
  display: block;
  width: 20%;
  padding-bottom: 44px;
  overflow: hidden;
  font-size: 14px;
}

.mod_playlist .playlist__item_box {
  position: relative;
  margin-right: 20px;
}
.mod_playlist .playlist__cover {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}
.mod_playlist .playlist__pic {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
}
.mod_playlist .playlist__title,
.mod_playlist .playlist__author {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 1px;
  font-size: 14px;
}
.mod_playlist .playlist__title {
  font-weight: 500;
}
.mod_playlist .playlist__author a {
  color: #999;
}
.style_switch {
  position: absolute;
  top: 30px;
  right: 0;
  width: 80px;
  height: 38px;
  border-radius: 2px;
  border: 1px solid #c9c9c9;
}
.mod_popup_mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
}
.mod_popup {
  position: fixed;
  z-index: 10000;
  top: 33%;
  left: 33%;
  width: 520px;
  height: auto;
  border: 1px solid #bfbfbf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-size: 14px;
  color: #333;
}
.popup__hd {
  position: relative;
  line-height: 55px;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
}
.popup__tit {
  letter-spacing: 0.555px;
  font-size: 16px;
  font-weight: 520;
}
.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
  transform: rotate(45deg);
}
.iconmui-icon-add {
  font-weight: 900;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.popup_new_list .popup__bd {
  position: relative;
  margin-top: 39px;
  padding: 0 40px 0 101px;
  padding-bottom: 28px;
  overflow: hidden;
}
.popup_new_list .form__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  line-height: 40px;
  text-align: right;
}
.popup_new_list .mod_form_txt {
  position: relative;
  display: block;
  height: 38px;
  background-color: #fff;
  border: 1px solid #c8cbcc;
  width: 377px;
  border-color: #e1e1e1;
}
.popup_new_list .form_txt__input {
  outline: none;
  width: 330px;
  height: 38px;
  line-height: 38px;
  border: 0 none;
  margin-right: 11px;
  background: 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.popup_new_list .form_txt__tips {
  position: absolute;
  top: 0;
  right: 11px;
  color: #999;
  line-height: 38px;
}
.popup__ft {
  padding: 20px 20px 0 0;
  height: 60px;
  text-align: right;
}
.popup__ft .mod_btn,
.popup__ft .mod_btn_green {
  width: auto;
  min-width: 122px;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
  padding: 0 23px;
  height: 38px;
  line-height: 38px;
  margin-left: 6px;
  float: right;
  display: block;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}
.mod_btn_green {
  border: 1px solid #31c27c;
  background-color: #31c27c;
  color: #fff;
  width: auto;
  min-width: 122px;
  text-align: center;
}
.playlist__item {
  position: relative;
}
.playlist__item .playlist__mask__main {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* opacity: .1; */
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 521;
}
.playlist__item .playlist__play {
  position: absolute;
  /* display: flex; */
  display: none;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* opacity: .1; */
  background-color: rgba(0, 0, 0, 0);
  z-index: 520;
}
.mod_playlist .playlist__cover .biubiubiu:hover .playlist__play{
display: flex;
}
.mod_playlist .playlist__cover .biubiubiu:hover .playlist__mask__main{
  display: block;
}
.mod_playlist .playlist__cover .biubiubiu{
  transition: all .888s;
}
.mod_playlist .playlist__cover .biubiubiu:hover{
  transform: scale(1.1415926)
  }
 .playlist__item .playlist__play > img {
  margin: auto;
}
.playlist__item .playlist__mask {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* opacity: .1; */
  background-color: rgba(0, 0, 0, 0);
  z-index: 520;
}
.mod_playlist_text .playlist__delete:hover {
  display: block;
}
.mod_playlist_text .mod_list_menu {
  height: auto;
}
.mod_playlist_text .mod_list_menu:hover {
  display: flex;
}
.mod_playlist_text .playlist__delete:hover {
  border: 1px solid #31c27c;
}
.mod_popup_tips {
  position: fixed;
  top: 45%;
  left: 45%;
  padding: 37px 46px 25px;
  line-height: 22px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 31415926;
  text-align: center;
}
.icongantanhao {
  display: block;
  color: #fff;
  font-size: 46px;
  font-weight: 500;
  width: 46px;
  height: 46px;
  margin: 0 auto 16px;
}
.popup_tips__tit {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}
